body {
	background-color: #000;
	font-family: Calibri, Verdana, Geneva, sans-serif;
	color: #C4C4C4;
	text-align: center;
	margin: 0;
}
body a:active {
	color: #F9D600;
	text-decoration: none;
	font-weight: bold;
}
body a:link, body a:visited {
	color: #FFA600;
	text-decoration: none;
	font-weight: bold;
}
.instructions {
	border-collapse: collapse;
}
.details {
	border-collapse: collapse;
}
.footer {
	text-align: center;
}
#pup {
	position: absolute;
	width: 300px;
	padding: 5px;
	font-size: 11pt;
	color: #fff;
	background-image: url(images/bg-pup.png);
	font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	text-align: left;
	border: 2px solid #333;
	z-index: 200; /* aaaalways on top*/
}